<%- include('partials/navigatie'); %>

<main class="overview">
  <article>
    <h2>Boeken</h2>
    <ul>
        <% data.filter(item => item.item_type === 'book').forEach(book => { %>
            <li li onclick="window.location.href='./detail/<%= book.id %>'">
                <img src="https://fdnd-agency.directus.app/assets/<%= book.afbeelding %>" alt="<%= book.title %> Image">
                <h3><%= book.title %></h3>
                <% if (book.price) { %>
                    <p>€ <%= book.price %></p>
                <% } else { %>
                    <p>Geen prijs bekend</p>
                <% } %>  
            </li>
        <% }); %>
    </ul>
  </article>
</main>